body {
    background-color: rgb(208, 226, 255);
    background: url(bakcground.png);
    background-size: cover;
    height: 100%;
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
}

a {
    text-decoration: none; 
    color: inherit; 
    position: relative; 
    border-bottom: 3px solid transparent; 
    transition: border-color 0.3s ease, color 0.3s ease; 
}

a:hover {
    border-color: #ffffff; 
    color: #810000; 
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
    gap: 40px;
    color: white;
} 



.card {
    border-radius: 10px;
    margin: auto;
    width: 600px;
    justify-content: center;
}

.text_box {
    display: flex;
    position: absolute;
    gap: 30px;
    width: 450px;
}

.container {
    position: relative;
}

.imagem-pequena {
    position: absolute;
    top: 70%;
    margin-top: 31px;
    right: 130px;
    max-width: 700px; 
    transform: translateY(-90%); 
}

.container_branco {
    background-color: azure;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    
    width: 800px;
    margin-right: 150px;
    height: 300px;
    justify-content: center;
}

body {
    background-color: #d0e2ff;
    color: #000;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease, color 0.3s ease;
}

a:hover {
    border-color: #ffffff;
    color: #ff99df;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
 
}


.text_box {
    display: flex;
    justify-content: space-between;
}

.container {
    position: relative;
}

.imagem-pequena {
    position: absolute;
    top: 30%;
    right: 160px;
    max-width: 100%;
    height: 400px;
}

.container_branco {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card_login {
    margin: auto;
    width: 400px;
    
}

/* Estilo do formulário de login */
.card_login label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.card_login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.card_login input[type="submit"] {
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

.card_login input[type="submit"]:hover {
    background-color: #2980b9;
}

.container_branco2 {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Adicione esta linha para definir o contexto de posicionamento */
}

.container {
    position: relative;
}

.imagem-pequena {
    position: absolute;
    top: 30%;
    right: 160px;
    max-width: 100%;
    height: 400px;
}

.container {
    position: relative;
}

.imagem-pequena2 {
    position: absolute;
    top: 25%;
    right: 0px;
    max-width: 100%;
    height: 300px;
}

#table-mensagens {
    font-size: 10px;
    width: 100%; /* Mudei para 100% para ocupar todo o contêiner */
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* Adicione esta linha para evitar que a tabela exceda o contêiner */
}

#table-mensagens th, #table-mensagens td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-wrap: break-word; /* Adicione esta linha para quebras de palavra em células longas */
}

